.home-page {
  box-sizing: border-box;
  background-color: #6426eb;
  width: 100%;
  height: fit-content;
  padding: 50px 10% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-links {
  width: fit-content;
  gap: 79px;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 1px solid #ffffff00;
  transition: border-bottom 0.3s ease-in-out;
  position: relative;
}

.nav-link::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.6s ease-in-out;
}

.nav-link:hover::before {
  width: 100%;
  transition: width 0.6s ease-in-out;
}

.heading-name {
  font-size: 194px;
  color: #ffffff;
  font-family: "Unbounded", cursive;
  align-self: flex-start;
  transform: translateX(-15px);
  margin-top: 142px;
  margin-bottom: 66px;
}

.home-page-info {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 26px;
}

.info-boxex-container {
  display: flex;
  gap: 26px;
  min-width: fit-content;
}

.info-box {
  border: 1px solid #ffffff;
  border-radius: 34px;
  display: flex;
  max-width: fit-content;
  padding: 19px 22px;
  font-size: 20px;
  align-items: center;
  color: #ffffff;
}

.info-box-title {
  padding-left: 24px;
  text-align: left;
}

.horizontal-line {
  width: 100%;
  height: 1px;
  background-color: #ffffff;
}

.spline-container {
  margin-top: 83px;
  width: 100%;
  border-radius: 165px;
}

.spline-container canvas {
  border-radius: 165px 165px 0 0;
  width: 100%;
  min-height: 646px;
  max-height: 646px;
}

@media only screen and (min-width: 1440px) {
  .nav-link {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1440px) {
  .heading-name {
    font-size: 120px;
  }
}

@media only screen and (max-width: 900px) {
  .heading-name {
    font-size: 60px;
    margin-top: 70px;
    margin-bottom: 50px;
  }

  .spline-container canvas {
    border-radius: 80px 80px 0 0;
    width: 100%;
    min-height: 320px;
    max-height: 320px;
  }

  .info-box-title {
    padding-left: 12px;
  }

  .info-box {
    padding: 12px 12px;
    font-size: 16px;
  }
}
