#root {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
}

:root {
  --toastify-color-success: #6426eb;
  --toastify-color-error: #eb2646;
  --toastify-color-info: #6426eb;
}
